.container {
    display: grid;
    grid: 85px 85px 85px / 85px 85px 85px;
    gap: 5px;
   background-color: lightgray; 

}

.container>div {display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    font-weight: bold;
    background-color: white;
}
.grid-result,.grid-turn {
    margin-top: 20px;
}